﻿@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var Proyecto in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@Proyecto.ImagenURL" class="card-img-top" alt="Imagen proyecto." />
                        <div class="card-body">
                            <h5 class="card-title">@Proyecto.Titulo</h5>
                            <p class="card-text">@Proyecto.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="@Proyecto.Link" target="_blank" rel="noopener noreferrer">Visitar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}