﻿<div class="text-center">
    <h1 class="display-4">Soy Adrián García Remesal</h1>
    <h2>Soy un desarrollador full stack</h2>

    <img src="~/imgs/foto Adrian.jpg" alt="Foto Adrián" id="foto" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portfolio</h1>
        <p>
            He estado desarrollando software desde 2019. Trabajando principalmente en C#/ASP.NET, JavaScript, Java y Angular.
        </p>
    </div>
</div>