﻿@{
    ViewData["Title"]= "Contacto";
}

<h1>Formulario de contacto</h1>

<form asp-controller="Home" asp-action="Contacto">
    <div class="mb-3">
        <!--Este for indica que si hacemos click en el label en la aplicacion se selecciona el input que tenga un id con el mismo contenido -->
        <label for="nombre" class="form-label">Nombre</label>
        <input class="form-control" id="nombre" name="nombre" placeholder="Tu nombre" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="email@gmail.com" />
    </div>
    <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
