﻿@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contacto conmigo.</h1>
<p>Te contestaré lo antes que pueda.</p>
<div><a asp-action="Index" asp-controller="Home">Volver a Home</a></div>