﻿@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container"> 
    <h1>Mis proyectos</h1>
    <p>Aqui tienes todos mis proyectos.</p>
</div>

<partial name="_ListadoProyectos" model="Model"/>